<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senddoc</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="website icon" type="png" href="/static/icon/book.png">
</head>
<body>
    <div class="container">
        <!----------Header------------------------>
        <div class="header">
            <div class="header_p">
                <h2> <span>Universite</span> de Kara</h2>
            </div>
        </div>
        <!--_______________Fin Header___________________-->

        <!-----------------Plaine------------------------------->
        <div class="plaine">
            <div class="text">
                <div class="text_p">
                    <h1>Telecharger vos cours <span>PDF</span> </h1>
                <p>Ce plateforme est cree dans le bus </p>
                <p>de parteger et telecharger vos cours</p>
                </div>
                
            </div>
            <div class="plaine-image">
                <img src="/static/image/work-environment.jpg" alt="present">
            </div>
        </div>
        <!--_________________________Fin plaine__________________________-->

        <!------------------Content---------------------------------->
        <div class="content">
            
        </div>
        <!--_______________________Fin Content_________________________-->
    </div>
</body>
</html>